@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100&family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:#0a9967;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.box {
    background-color: azure;
    border-radius: 10px;
    box-shadow:0 0 20px;
    text-align: center;
    width: 650px;
    height: 200px;
    padding: 12px;
   

}

h3 {
    font-size: 30px;
}

.btn {
    width: 200px;
    height: 60px;
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    color:white;
}

.joke {
    font-size: 18px;
    line-height: 1.5rem;
    padding: 0 5px 35px 5px;
    font-weight: 500;
}

@media only screen and (max-width:400px) {
    .box {
        width: 300px;
        max-height: 500px;
    }

    h3 {
        font-size: 23px;
    }
}

@media only screen and (max-width:355px) {
    .box {
        width: 270px;
    }

    h3 {
        font-size: 22px;
    }

    .joke {
        font-size: 16px;
    }
}